<%= render :partial => 'upload_js' %>
<%= form_for @question, :html => { :multipart => true } do |f| %>
	<h3>Description</h3>
	<%= f.text_area :body, :class => 'area' %>
	<h3>Tags</h3>
	<%= f.text_field :tag_list, :autocomplete => autocomplete_tag_name_questions_path, :class => 'field' %>
	<div class='form_ops'>
		<%= f.submit 'Post Your Question', :class => 'submit' %>
		<div class='uploader'>
			<%= render '/partials/upload', :f => f %>
		</div>
	</div>
<% end %>