<div id="comments_<%= someone.class.name %>_<%= someone.id %>" class="comments">
	<%= render :partial => "comments/show_comment", :collection => someone.comments %>
</div>
<div id="form_for_comment_<%= someone.class.name %>_<%= someone.id %>" class="form_for_comment">
	<%= render :partial => "comments/comment", :locals => {:commentable => someone.class.name, :id => someone.id} %>
</div>