<%= div_for question do %>
	<div class='status'>
		<div class='username'><%= question.user.name %></div>
		<div class='postime' title='<%= question.created_at.strftime("%H:%M %m/%d/%Y") %>'><%= time_ago_in_words question.created_at %></div>
	</div>
	<div class='excerpt'>
		<%= link_to truncate(question.body, :length => 140), question %>
	</div>
	<div class='thumbs'>
		<% question.photos.limit(8).each do |photo| %>
			<%= image_tag photo.item.url(:square) %>
		<% end -%>
		<% question.answers.limit(4).each do |answer| %>
			<% answer.photos.each do |photo| %>
				<%= image_tag photo.item.url(:square) %>
			<% end -%>
		<% end -%>
	</div>
	<div class="tags">
		<% question.tag_list.each do |tag| %>
			<div class="tag"><%=link_to tag, tagged_url(:tag => tag) %></div>
		<% end -%>
	</div>
<% end -%>